/* common */

a {
    text-decoration: none;
}


/* header */

#site_header {
    height: 100%;
}

#site_header [class^="col"] {
    background-color: #6c7dd9;
    border: 1px solid white;
}

#site_header img {
    height: 80px;
}

#site_header .row {
    height: 90px;
}

#site_header a {
    margin: 0 0.7rem;
    color: white;
}


/* main */

#site_main .hero-container {
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url(https://media0.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-position: center;
}

.container [class^="col"] {
    background-color: rgba(119, 42, 190, 0.822);
    border-radius: 25px;
    box-shadow: 9px 13px 0px 10px rgb(59 50 81);
}